body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 5rem;
}

.title{
    background-color: white;
    margin: 0;
    padding-left: 5%;
}

.title h1 span{
    color: blue;
}

.links{
    width: 10%;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    background-color: white;
}

a{
    color: blue;
    font-weight: bolder;
}

main{
    width: 70%;
    margin: auto;
    background-color: rgb(230, 230, 230);
    padding-top: 5%;
    padding-bottom: 5%;
}


.first{
    width: 60%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    padding-bottom: 50px;
    border-radius: 5px;
}

h1{
    text-align: center;
}

.note{
    width: 90%;
}

.first p{
    background-color: white;
    color: brown;
    font-size: small;
    font-weight: 600;
    margin: 0;
}

.firstinput{
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
}

.firstinput input{
    width: 70%;
    background-color: rgb(243, 240, 236);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 0;
    padding: 0;
    color: rgb(122, 118, 118);
}

.firstinput button{
    background-color: blue;
    width: 30%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 0;
    padding: 0;
    color: aliceblue;
    font-weight: 800;
}


.second{
    margin: auto;
    width: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 50px;
    border-radius: 5px;
}

.second p{
    width: 50%;
    font-weight: 600;
    padding-left: 5%;
}

.icons{
    width: 50%;
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}

.edit{
    color: green;
}

.recycle{
    color: brown;
}


.third{
    margin: auto;
    width: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 5px;
}

.check{
    width: 50%;
    display: flex;
    align-items: center;
}

.checkbox{
    width: 10%;
    text-align: center;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid green;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox:checked{
    background-color: green;
}

.task{
    font-weight: 600;
}

main .third .check p{
    margin: 0;

}





